nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 25px;
    background-color: #F7F7F5;
    border-bottom: 1px solid #b1b0b0 ;
}
.links{
    text-decoration: none;
    font-weight: 800;
    color: #355090 ;
}
.links:hover{
    color: #0f172a;
}