.home{
    min-height:100vh;
    display:flex;
    justify-content:left;
    align-items:center;
    background:#F7F7F5;
    color:rgb(0, 0, 0);
}

.hero{
    text-align:center;
    width:80%;
}
.accent{
    color: #355090;
}
.hero h1{
    font-size:80px;
    margin:10px 0;
}

.hero h2{
    color:#38bdf8;
    margin-bottom:20px;
}

.hero-text{
    line-height:1.7;
    color:#000000;
    font-weight: 500;
}

.hero-buttons{
    margin-top:40px;
   
}
.fbtn{
    background-color: #355090;
    color: #F7F7F5;
}
.hero-buttons button{
    margin:10px;
    padding:15px 35px;
     border: 2px solid #355090;
    border-radius:30px;
    cursor:pointer;
    font-weight: 700;
}
.hero-buttons button:hover{
    background-color: #35509078;
}